.appManage-main{


    .mian-title{
        font-size: 50px;
        font-weight: 700;

    }
    .title-btn{
        color: #fff;
        background-color: forestgreen;
        margin: 0 0 20px 0;
        border: forestgreen;
    }
    .main-table{

        .table-img{
            width: 100%;
        }
    }
}
