.appPackage-main{

    box-sizing: border-box;
    .mian-title{
        font-size: 50px;
        font-weight: 700;

    }
    .main-radio{
        height: 50px;
        margin-top: -30px;
                .radio-group{
                    display: flex;
                }
                .ant-radio-wrapper{
                    width: 300px !important;
                    height: 50px  !important;
                    line-height: 50px  !important;
                    font-size: 30px  !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .radio{
                        width: 50px !important;
                        height: 50px !important ;
                        line-height: 50px;
                    }
                    
                }
            
       

    }
    .ant-form-item{
        margin-right: 30px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        
    }
    .btn-grap{
        width: 400px;
       
        button{
            margin-top: 20px;
            border-radius: 4px;
            height: 35px;
            text-align: center;
            width: 120px;
        }
       
        .title-btn{
            margin: 0 0 20px 0;
            margin-left: 30px;
        }
     
    }
   
    .main-table{

        .table-img{
            width: 100%;
        }
    }
    // 添加的样式
    .appManageAdd-btn{
        margin-top: 200px;
        display: flex;
        justify-content: center;
    }


  
}
  // 添加中的格式

  .main-add-Anchor{
    position: fixed;
    top: 204px;
    left: 250px;
    border: 1px solid rgb(163, 160, 160);
    border-radius: 10px;
    width: 200px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    h1{
        font-size: 25px;
        margin-top: -50px;
    }
    .ant-anchor-link{
        font-size: 20px;
    }
    
}
.appPackageAdd-main{
    margin-left: 400px;
    #components-anchor-appSelect,
    #components-anchor-channelConfig,
    #components-anchor-management,
    #components-anchor-channelId,
    #components-anchor-peopleInset{
        width: 1000px;
        border: 1px solid rgb(163, 160, 160);
        border-radius: 10px;
        margin: 40px;
        h1{
            font-size: 30px;
            margin: 20px;
        }
    }
}
